.hello {
  background-color: #efefef;
  border: 1px solid #dedede;
}

.tscanvas {
    border: 1px groove white;
    margin: 0px;
    position: relative;
    top: 5px;
    background-color: #000000;
    color: #ffffff;
}

#aaa,#bbb {
    width: 300px;
    border: 1px groove white;
}

.borderClass {
	border: 1px solid black;
}

.developers .pull-left img{
	margin-right: 5px;
	width: 150px;
	height: 150px;
}

.developers .media-heading{
	margin-top: 0px;
}